{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  }

header {
  background-image: url("adopt-a-dog/images/christopher-harris-57366-unsplash.jpg");
  min-width: 10%;
  max-width: 100%;
  height: 37rem;
  background-size: cover;
}

.flexbox {
  display: flex;
}

.for-print{
  background-color: black;
  display: none;

}
.left-side > img {
  max-width: 100%;
  margin-top: 8%;
  height: 40%;
  min-width: 10%;
  }

.left-side {
  flex: 50%;
  margin-left: 5%;
  padding: 1% 0;
}

.right-side {
  margin-right: 5%;
  flex: 50%;
  float: right;
  color: white;
  padding: 1% 0;
}


.left-side > h1 {
  font-family: 'Noto Serif SC', serif;
  color: #92B64C;
  font-size: 1.6rem;
  font-style: italic;
  margin: 0;
  }

.flex {
  display: flex;
}

.column-left {
  max-width: 100%;
  margin-left: 68%;
  min-width: 5%;
  margin-top: 8%;
}

.column-right {
  font-weight: bold;
  margin-top: 10%;
  padding-left: 1%;
  font-size: 1rem;
}

.right-side > button {
  color: white;
  background-color: #92B64C;
  height: 12%;
  width: 20%;
  margin-left: 62%;
  padding: 0;
  border: none;
  font-weight: bold;

}

.nav-container {
  padding: 2rem 1.5rem 2rem 0;
  font-family: 'Lato', sans-serif;
  background-color: #EBEBEB;
  font-weight: bold;
}

nav {
  margin: 0 13%;
}

nav > a {
  padding: 1%;
  text-decoration: none;
  color: #263E5F;

}

footer {
  background-color: #263E5F;
  max-width: 100%;
  min-width: 10%;

  }

.footer-container {
  width: 35%;
  line-height: 160%;
  margin: auto;
  padding: 3% 0;
  text-align: center;
  color: white;
}

.footer-container > p {
  padding: 0 5%;
  font-size: 1.3rem;
}

.footer-container > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 2%;
}

.footer-container > img {
  max-width: 70%;
  min-width: 10%;
  height: 20%;
  }


main {
  background-color: #FFFFFF;
}

.flex-container {
  display: flex;
  font-size: 1.4rem;
  padding: 2% 2% 0 0;


}

.left-column {
  flex: 65%;
  margin-left: 13%;
  padding-top: 1%;
}

.left-column > img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

.left-column > h1 {
  font-family: 'Noto Serif SC', serif;
  color: #263E5F;

}

.left-column > p {
  margin: 0 8% 0 0;
  line-height: 2.1rem;
  color: black;
}

@media screen and (max-width: 1023px){
  .right-column {
    display: none;
  }

  .left-column {
    margin-right: 13%;
  }
}

.right-column {
  flex: 35%;
  max-width: 100%;
  padding-left: 3%;
  margin-right: 13%;
  min-width: 10%;
}

.right-column > h2 {
  margin: 0 0 6% 14%;
  padding: 4% 0 4% 0;
}

.right-column > img {
  height: auto;
  max-width: 100%;
  margin: 0 0 6% 15%;
  width: 100%;

}

.right-column > h4 {
  font-family: 'Noto Serif SC', serif;
  margin: 0 0 0 15%;
  padding: 2% 0 4% 0;
  color: #263E5F;
}

.right-column > p {
  margin: 0 0 3% 14%;
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: normal;
}

.right-column > a {
  text-decoration: none;
  padding: 2% 0;
  font-weight: bold;
  margin: 0 0 0 14%;
  font-size: 1.1rem;
  color: #2C9AB7;
}

button {
  border-radius: .2rem;
  width: 65%;
  padding: 3%;
  color: white;
  margin: 0 auto 10% auto;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: rgb(129,183,65);
}

.see > a > button {
  text-align: center;
  width: 15%;
  padding: 1%;
  color: rgb(9, 60, 96);
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  display: block;
  margin: 2% auto 7% 28.8%;
  background-color: rgb(236, 236, 236);
}

.see > a {
  text-decoration: none;
}

@media screen and (max-width: 500px){
  .grid-container1 {
    display: grid;
    grid-template-columns: auto;
    max-width: 100%;
    min-width: 10%;
    height: 5%;
    grid-column-gap: 5%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    min-width: 10%;
    height: 5%;
    grid-column-gap: 5%;
  }
}

@media screen and (min-width: 1025px) {
  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    min-width: 10%;
    height: 5%;
    grid-column-gap: 5%;
  }
}

@media print {
  header {
    display: none;
  }

  .for-print {
    display: block;
    background-color: black;
    margin-left: 13%;
  }

  .grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    min-width: 10%;
    height: 5%;
    grid-column-gap: 5%;
    margin-top: 5%;
  }

  .left-column {
    margin: 0 13%;
  }

  .left-column > p {
    font-size: 1.2rem;
  }

  .right-column {
    display: none;
  }

  .left-column > h1 {
    font-family: 'Noto Serif SC', serif;
    color: rgb(9,60,96);
    font-size: 2rem;
  }

  .see {
    display: none;
  }

  .footer-container {
    color: black;
  }

  .footer-container > a {
    color: black;
    font-weight: normal;
  }
}

.dog-tile {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 10% 0 5% 0;
}

.dog-tile > img {
  height: auto;
  max-width: 100%;
  min-width: 10%;
}

.dog-tile > h3 {
  font-family: 'Noto Serif SC', serif;
  margin: 6%;
  font-size: 1.2rem;
  color: #263E5F;
}

.dog-tile > p {
  font-size: 1rem;
  margin: 1% 8% 8% 6%;
  font-weight: normal;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 13%;
  margin-right: 13%;
  max-width: 100%;
  min-width: 10%;
  height: 5%;
  grid-column-gap: 5%;
}


h2 {
  font-family: 'Noto Serif SC', serif;
  font-size: 2rem;
  margin-left: 13%;
  color: rgb(9, 60, 96);
}
.column {
  float: left;
}

.left {
  width: 35%;
}

.left > img {
  height: auto;
  max-width: 90%;
  min-width: 10%;
}

.right {
  width: 65%;
}

.right > p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 0;
}

.right > h3 {
  font-family: 'Noto Serif SC', serif;
  font-size: 1.7rem;
  margin-top: 0;
  color: #263E5F;
}

.row {
  background-color: #fff;
  margin: 1% 11%;
  padding: 2% 2% 0 2%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  color: #263E5F;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1% 1% 1% 0;
  margin-left: 13%;
}

input[type=text], input[type=email] {
  margin: 1% 0 1% 13%;
  padding: 1%;
  width: 20%;
}

.move-left {
  margin-left: 22%;
}

.move-left2 {
  margin-left: 13%;
}

select {
  margin-left: 5%;
  padding: 1%;
  min-width: 10%;
  max-width: 100%;
}

#zip-code {
  margin-left: 7%;
  padding: 1%;
  width: 10%;
}

input[type=submit] {
  background-color: #92B64C;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 15%;
  border: none;
  padding: 1%;
}
.place > select {
  margin-top: 2%;
  margin-left: 13%;
  padding: 1%;
  width: 20%;
}

.radio-button {
  margin: 2% 0 1% 13%;
}



form > p {
  margin: 3% 13%;
}
